

body {
	text-align:center;
	color: #00ff00;
	background-image: url(../images/space.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-color: black;
}

body h1 {
	font-size: 500%;
	color: white;
}

footer {
	font-size: 65%;
	color: black;
	position: fixed;
	bottom: 0;
	right: 0;
	background-color: white;
}

#highscore {
	font-size: 200%;
	margin-top: 0px;
	text-shadow: 2px 2px black;
}

#startbutton {
	height: auto;
	width: auto;
	width:150px;
	height: 150px;
}

#info {
	width: 1000px;
	background-color: #4d94ff;
	color: #66ff33;
	height: 40px;
	border: solid 2px black;
}

#info hr {
	margin-top: -15px;
}

#info span {
	padding-right: 8%;
	padding-left: 8%;
	margin-top: 55px;
	line-height: 20px;
	vertical-align: middle;
	font-size: 150%;
	line-height: 20px;
}

#Canvas {
	border: solid 2px black;
	height: 600px;
	width: 1000px;
	background-image: url(../images/space.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

#currentscore {
	font-size: 200%;
	margin-top: 0px;
}

#pausebutton {
	width:35px;
	height: 30px;
	padding-top: 10px;
}

#transition1 {
	background-image: url(../images/space.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 75%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

#transition1 h1 {
	color: white;
	font-size: 300%;
}

#nextButton {
	width: 100px;
	height: 100px;
}

#transition2 {
	background-image: url(../images/space.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 75%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

#transition2 h1 {
	color: white;
	font-size: 300%;
}

#finalscore {
	font-size: 200%;
	margin-top: 0px;
}

#end{
	width: 50%;
	height: 50%;
}